################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.wsuo
*.suo
/Auth0TokenGenerator/bin
/Auth0TokenGenerator/obj
