<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Build" value="Debug" />
    <add key="endpoint" value="http://eis-qa-ml-01:8737/EISQA19C/QA_MAINLINE_ENT1/IRitaWcf" />
    <add key="Auth0:Domain" value="eis-development.us.auth0.com" />
    <add key="Auth0:ClientId" value="Th1IDPI7BsTDWur44wfhJwkHRJsgUEVo" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="conString" connectionString="Data Source=SALIMDEV-WIN10;Initial Catalog=APITESTData;Integrated Security=True;" />
  </connectionStrings>  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>

  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRitaWcf" />
        <binding name="AccountingSoap" />
        <binding name="AircraftOwnershipSoap" />
        <binding name="SessionSoap" />
        <binding name="CompanyDatabaseSoap" />
        <binding name="WorkOrderSoap" />
        <binding name="UserManagementSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/accounting.asmx" binding="basicHttpBinding" bindingConfiguration="AccountingSoap" contract="Accounting.AccountingSoap" name="AccountingSoap" />
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/aircraftownership.asmx" binding="basicHttpBinding" bindingConfiguration="AircraftOwnershipSoap" contract="Aircraftownership.AircraftOwnershipSoap" name="AircraftOwnershipSoap" />
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/session.asmx" binding="basicHttpBinding" bindingConfiguration="SessionSoap" contract="Session.SessionSoap" name="SessionSoap" />
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/customerdatabase.asmx" binding="basicHttpBinding" bindingConfiguration="CompanyDatabaseSoap" contract="CompanyDatabase.CompanyDatabaseSoap" name="CompanyDatabaseSoap" />
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/workorder.asmx" binding="basicHttpBinding" bindingConfiguration="WorkOrderSoap" contract="WorkOrder.WorkOrderSoap" name="WorkOrderSoap" />
      <endpoint address="http://eis-qa-ml-01:8737/EISQA19C/QA_MAINLINE_ENT1/IRitaWcf" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRitaWcf" contract="RitaWcf.IRitaWcf" name="BasicHttpBinding_IRitaWcf" />
      <endpoint address="http://10.72.5.50/Mainline-Debug/CWS/usermanagement.asmx" binding="basicHttpBinding" bindingConfiguration="UserManagementSoap" contract="UserManagement.UserManagementSoap" name="UserManagementSoap" />
    </client>
  </system.serviceModel>-->
</configuration>